h3 {
    padding-left: 40%;
}

label {

}

b {

}

input {

}

footer {
    padding-left: 40%;
}

header {
    padding-left: 40%;
}

body {
    padding: 10%;
    background: url("right.png") no-repeat center;
}